@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-900 text-white overflow-x-hidden;
}
* {
  scrollbar-width: none;
}

/* Hide scrollbar for WebKit/Blink based browsers */
*::-webkit-scrollbar {
  display: none;
}

/* Apply overflow property to the container */
.container {
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrollbar if any */
  /* Other styles for the container */
}
